<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Twitter Analyzer</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:3000/templates/index.html">Home</a></li>
            <li><a href="http://127.0.0.1:5002">Twitter UserName Tweet Analysis</a></li>
            <li><a href="http://127.0.0.1:5001">Text Username Reply Analysis</a></li>
            <li><a href="http://127.0.0.1:5000">Twitter Keyword Analysis</a></li>
            <li><a href="https://colab.research.google.com/drive/1Zkq1YhEByZK5K4TUpm7v7dKGUHZf8BB9?usp=sharing">Text Intent Classification</a></li>
            <li><a href="https://colab.research.google.com/drive/1u8lcWpzsdCcnWTaab5bbrJ3rWNpNVokz?usp=sharing">Location Extractor</a></li>
        </ul>
    </nav>

    <main>
        <div class="box">
            <div class="thumbnail1">
                <a href="http://127.0.0.1:5002"><img src="image1.jpg"></a>
                <h3>Twitter UserName Tweet Analysis</h3>
            </div>

            <div class="thumbnail2">
                <a href="http://127.0.0.1:5001"><img src="image2.jpg"></a>
                <h3>Twitter UserName Reply Analysis</h3>
            </div>

            <div class="thumbnail3">
                <a href="http://127.0.0.1:5000"><img src="image3.jpg"></a>
                <h3>Twitter Keyword Analysis</h3>
            </div>

            <div class="thumbnail4">
                <a href="https://colab.research.google.com/drive/1Zkq1YhEByZK5K4TUpm7v7dKGUHZf8BB9?usp=sharing"><img src="image4.jpg"></a>
                <h3>Text Intent Classification</h3>
            </div>

            <div class="thumbnail5">
                <a href="https://colab.research.google.com/drive/1u8lcWpzsdCcnWTaab5bbrJ3rWNpNVokz?usp=sharing"><img src="image5.jpg"></a>
                <h3>Location Extractor</h3>
            </div>
        </div>
    </main>
</body>

</html>